* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
  font-weight: 400;
  background-color: #ffffff;
}

.author-info {
  text-align: center;
  margin-top: 16px;
  padding: 20px;
  background-color: #f8fafc;
  color: #030616;
}

.link-1,
.author-info a {
  text-decoration: none;
  color: #4e80ee;
}

header {
  text-align: center;
  padding: 40px 0 2px;
  background-color: #f8fafc;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;

  color: #030616;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #030616;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin-bottom: 17px;
  color: #030616;
}

main {
  padding: 60px 60px 0 60px;
  max-width: 800px;
  margin: 0 auto;
}
section {
  padding: 30px;
}

.divider {
  height: 1px;
  width: 90%;
  background-color: #d2d5da;
  margin-bottom: 20px;
  margin: 0 auto;
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
  color: #030616;
}

li > span {
  font-weight: 600;
}

/* Tablets */
@media screen and (max-width: 768px) {
  /* Tablet styles */
  header h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  main {
    padding: 20px 20px 0 20px;
  }
  .divider {
    margin-bottom: 20px;
  }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  main {
    padding: 15px;
  }
  .divider {
    margin-bottom: 10px;
  }
  section {
    padding: 15px 15px 0 15px;
    margin-bottom: 10px;
  }
}

#back-btn {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 6px 12px;
  background-color: #4e80ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  transition: all 0.3s ease;
}

#back-btn:hover {
  scale: 1.05;
}
