* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fffefe;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 300px;
  width: 90%;
  border-radius: 2rem;
  margin-block: clamp(3rem, 4rem + -5vw, 0rem);
  background-color: #f3f4f6;

  @media screen and (width>=640px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  @media screen and (width>=1000px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("resources/Background_decor.svg");
  background-color: #4e80ee;
  border-radius: 2rem 2rem 0 0;
  padding: clamp(1.5rem, 1.3333rem + 0.8333vw, 2rem);
  background-color: #f3f4f6;
  gap: 1rem;

  @media screen and (width>=640px) {
    grid-column: 1 / -1;
    bg-image: url("resources/Background_decor@2x.png");
  }
  @media screen and (width>=1000px) {
    grid-column: 1 / 3;
  }
}

.intro {
  color: #263fa9;
  font-size: 1.2rem;
  font-weight: 400;
}

h1 {
  font-size: clamp(2rem, 1.8333rem + 0.8333vw, 2.5rem);
  font-weight: 500;
  color: #000000;
}

.team-text {
  font-size: clamp(1.1rem, 1.05rem + 0.25vw, 1.25rem);
  color: #394150;
  max-width: 450px;
  margin-bottom: clamp(1.5rem, 3rem + -7.5vw, 0rem);
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fffefe;
  padding: 3rem 2rem;
}

.member-name {
  font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);
  font-weight: 500;
}

.member-job {
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  font-weight: 400;
}

.see-more {
  font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);
  font-weight: 500;
  color: #394150;
}

.see {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.liam {
  background-color: #c1b6f8;
  background-image: url("./resources/Gradient.svg"),
    url("./resources/person_1.png");

  @media screen and (width>=1000px) {
    background-image: url("./resources/Gradient.svg"),
      url("./resources/person_1@2x.png");
  }
}

.sophia {
  background-color: #edacd2;
  background-image: url("./resources/Gradient.svg"),
    url("./resources/person_2.png");

  @media screen and (width>=1000px) {
    background-image: url("./resources/Gradient.svg"),
      url("./resources/person_2@2x.png");
    border-top-right-radius: 2rem;
  }
}

.ethan {
  background-color: #9dc4f8;
  background-image: url("./resources/Gradient.svg"),
    url("./resources/person_3.png");

  @media screen and (width>=1000px) {
    background-image: url("./resources/Gradient.svg"),
      url("./resources/person_3@2x.png");
    grid-row: 2;
    grid-column: 2 / 3;
  }
}

.ricci {
  background-color: #f8d8b0;
  background-image: url("./resources/Gradient.svg"),
    url("./resources/person_4.png");

  @media screen and (width>=640px) {
    grid-column: 2 / 3;
  }
  @media screen and (width>=1000px) {
    background-image: url("./resources/Gradient.svg"),
      url("./resources/person_4@2x.png");
    grid-row: 2;
    grid-column: 3/ 4;
  }
}

.noah {
  background-color: #86e7d4;
  background-image: url("./resources/Gradient.svg"),
    url("./resources/person_5.png");

  @media screen and (width>=640px) {
    grid-column: 3 / 4;
    border-bottom-right-radius: 2rem;
  }
  @media screen and (width>=1000px) {
    background-image: url("./resources/Gradient.svg"),
      url("./resources/person_5@2x.png");
    grid-row: 2;
    grid-column: 4/ 5;
  }
}

.more {
  background-color: #f3f4f6;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  @media screen and (width>=640px) {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  @media screen and (width>=1000px) {
    grid-row: 2;
  }
}

.see:hover .see-more {
  transform: translateX(5px);
}

.member:hover {
  filter: brightness(1.05);
  transform: scale(1.02);
}

#back-btn {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 6px 12px;
  background-color: #4e80ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease;
}

#back-btn:hover {
  transform: scale(1.05);
}
#back-btn:focus {
  outline: 2px solid #4e80ee;
  outline-offset: 2px;
}
