* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;

  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  font-family: Poppins, sans-serif;
  font-size: clamp(0.8125rem, 0.75rem + 0.3125vw, 1rem);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  align-items: center;
}

.main {
  width: min(500px, 88%);
  text-align: center;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

img {
  width: min(6rem, 15%);
  height: auto;
}

h1 {
  font-size: clamp(1.25rem, 0.6667rem + 2.9167vw, 3rem);
  margin: 20px;
  font-weight: 600;
  color: #000;
}

h2 {
  font-size: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem);
  margin: 0 10px 20px;
  font-weight: 400;
  color: #6c727f;
}

form {
  width: 90%;
  margin: 0 auto;
  padding: clamp(0.625rem, 0.3125rem + 1.5625vw, 1.5625rem);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input[type="email"] {
  display: block;
  width: 80%;
  padding: clamp(0.5rem, 0.4167rem + 0.4167vw, 0.75rem);
  border-radius: 5px;
  border: 1px solid rgb(209, 213, 219);
}

input[type="email"]::placeholder {
  text-align: center;
  font-weight: 500;
  color: #394150;
}

input[type="email"]:focus {
  outline: none;
  border: 1px solid rgb(59, 130, 246);
}

button {
  display: block;
  width: 80%;
  padding: clamp(0.5rem, 0.4167rem + 0.4167vw, 0.75rem);

  border-radius: 5px;
  border: none;
  background-color: #284bce;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: rgb(37, 99, 235);
}

.confidentiality {
  font-size: clamp(0.625rem, 0.5417rem + 0.4167vw, 0.875rem);
  font-weight: 400;
  color: #6c727f;
}

#back-btn {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 6px 12px;
  background-color: #4e80ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease;
}

#back-btn:hover {
  transform: scale(1.05);
}

#back-btn:focus {
  outline: 2px solid #4e80ee;
  outline-offset: 2px;
}
