* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main {
  width: min(500px, 85%);
  margin: 40px auto;
  height: auto;
  text-align: center;
  background-color: #ffffff;
}

img {
  width: 50px;
  height: auto;
}

h1 {
  font-size: 3rem;
  margin: 20px;
  font-weight: 600;
  color: #000;
}

h2 {
  font-size: 1.25rem;
  margin: 0 10px 20px;
  font-weight: 400;
  color: #6c727f;
}

form {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 20px 30px 0px rgba(14, 14, 14, 0.09),
    0px 8px 12px 0px rgba(22, 21, 21, 0.175);
  border-radius: 5px;
  background-color: #f9fafb;
}

input[type="email"] {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid rgb(209, 213, 219);
  font-size: 16px;
}

input[type="email"]::placeholder {
  text-align: center;
  font-weight: 500;
  color: #394150;
}

input[type="email"]:focus {
  outline: none;
  border: 1px solid rgb(59, 130, 246);
}

button {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  background-color: #284bce;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: rgb(37, 99, 235);
}

.confidentiality {
  font-size: 0.875rem;
  font-weight: 400;
  color: #6c727f;
}

#back-btn {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 6px 12px;
  background-color: #4e80ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease;
}

#back-btn:hover {
  transform: scale(1.05);
}
#back-btn:focus {
  outline: 2px solid #4e80ee;
  outline-offset: 2px;
}
/* 
@media screen and (max-width: 768px) {
    .main {
        width: 500px;
        transition: width 0.3s ease;
    }

    img {
        width: 10%;
        transition: width 0.3s ease;
    }

    h1 {
        font-size: 2rem;
        transition: font-size 0.3s ease;
    }

    h2 {
        font-size: 1.125rem;
        transition: font-size 0.3s ease;
    }
    form {
        width: 80%;
        padding: 10px;
        transition: width 0.3s ease, padding 0.3s ease;
    }
    input[type="email"] {
        width: 80%;
        margin: 10px auto;
        transition: width 0.3s ease, margin 0.3s ease;
    }
    button {
        width: 80%;
        padding: 10px;
        font-size: 0.85rem;
        transition: width 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
    }

    .confidentiality {
        font-size: 0.75rem;
        transition: font-size 0.3s ease;
    }

    .author-info {
        font-size: 12px;
        margin: 10px 15px;
        transition: font-size 0.3s ease, margin 0.3s ease;
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 300px;
        transition: width 0.3s ease;
    }

    img {
        width: 15%;
        transition: width 0.3s ease;
    }

    h1 {
        font-size: 1.25rem;
        transition: font-size 0.3s ease;
    }

    h2 {
        font-size: 1rem;
        transition: font-size 0.3s ease;
    }
    form {
        width: 90%;
        padding: 5px;
        transition: width 0.3s ease, padding 0.3s ease;
    }
    input[type="email"] {
        width: 90%;
        margin: 5px auto;
        font-size: 0.875rem;
        transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease;
    }
    button {
        width: 90%;
        padding: 5px;
        transition: width 0.3s ease, padding 0.3s ease;
    }

    .confidentiality {
        font-size: 0.625rem;
        transition: font-size 0.3s ease;
    }
} */
