:root {
  --base-color: #ffffff;
  --text-color: #111729;
  --secondary-text: #223344;
  --btn-text: #ffffff;
  --btn-link: #2a4dd0;
  --accent-color: #2a4dd0;
  --secondary-accent: #4ca154;

  --fs-body: clamp(1rem, 0.75rem + 1.1111vw, 1.25rem);

  --fs-heading: clamp(2rem, 0.6765rem + 5.8824vw, 3.5rem);
  --fs-button: clamp(0.875rem, 0.75rem + 0.5556vw, 1rem);
  --fs-small: clamp(0.75rem, 0.625rem + 0.5556vw, 0.875rem);
}

body.darkmode {
  --base-color: #111729;
  --text-color: #ffffff;
  --secondary-text: #f2f2f2;
  --btn-text: #ffffff;
  --btn-link: #ffffff;
  --secondary-accent: #4ca154;
  --accent-color: #2a4dd0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--base-color);
  color: var(--text-color);
  font-family: Poppins, sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* header section */

.nav__theme {
  display: flex;
  right: -100%;
  transition: right 0.3s ease;
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  background-color: var(--base-color);
}

.nav__theme.show {
  right: 0;
}
.header__nav {
  margin-right: 0;
  margin-block: 15rem 2.5rem;
}
.header__nav--list {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.header__nav--item {
  list-style: none;
}
.header__nav--item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.header__nav--item a::after {
  content: "";
  left: 0;
  position: absolute;
  bottom: -3px;
  width: 0;
  color: currentColor;
  height: 2px;
  background-color: currentColor;
  transition: Width 0.3s ease;
}

.header__nav--item a:hover {
  color: var(--btn-link);
}
.header__nav--item a:hover::after {
  width: 100%;
  color: var(--btn-link);
}

.hamburger {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
}

.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.hero__image--container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hero__image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--fs-body);
  align-self: center;
  justify-content: flex-start;
  gap: clamp(1rem, 0.1176rem + 3.9216vw, 2rem);
}

.hero__emoji {
  font-size: var(--fs-small);
  text-transform: uppercase;
  color: var(--secondary-text);
  font-weight: 500;
}
.hero__title {
  font-size: var(--fs-heading);
  font-weight: 700;
  color: var(--text-color);
}

.hero__message {
  font-size: var(--fs-body);
  color: var(--secondary-text);
}

.hero__button {
  font-size: var(--fs-button);
  padding: 0.85rem 1.5rem;
  background-color: var(--accent-color);
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.hero__button:hover {
  background-color: var(--secondary-accent);
}

.hero__button--link {
  font-size: var(--fs-button);
  text-decoration: none;
  display: inline-block;
  color: var(--btn-link);
  transition: color 0.3s ease;
  position: relative;
}

.hero__button--link::after {
  content: "";
  left: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  color: currentColor;
  height: 2px;
  background-color: currentColor;
  transition: color 0.3s ease;
}

.hero__button--link:hover,
.hero__button--link:hover::after {
  color: var(--secondary-accent);
}

.hero__policy {
  font-size: var(--fs-small);
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__policy p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.theme-switch {
  background-color: #fff;
  width: 3.5rem;
  height: 1.75rem;
  position: relative;
  display: inline-block;
  border-radius: 200px;
  cursor: pointer;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease;
}
.theme-switch::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 25%;
  transform: translateX(-45%) translateY(-50%);
  background-color: #223344;
  border-radius: 50%;
  transition: 0.3s;
}
.theme-switch,
.theme-switch * {
  user-select: none;
}
input:checked + .theme-switch {
  background: #222;
}

input:checked + .theme-switch::after {
  left: 50%;
  transform: translateX(5%) translateY(-50%);
  background-color: #f2f2f2;
}

.theme-switch:active::after {
  width: 2rem;
}

.theme-switch svg {
  width: 1.25rem;
  top: 50%;
  position: absolute;
  z-index: 100;
  transform: translateY(-50%);
}

svg.sun {
  left: 50%;
  transform: translateX(5%) translateY(-50%);
  color: #333;
  transition: 0.3s;
  opacity: 1;
}
svg.moon {
  left: 25%;
  transform: translateX(-45%) translateY(-50%) rotate(130deg);
  transition: 0.3s;
  opacity: 0;
}

input:checked + .theme-switch svg.sun {
  opacity: 0;
}
input:checked + .theme-switch svg.moon {
  color: #fff;
  opacity: 1;
}
@media (width>=768px) {
  nav {
    display: block;
  }
  .header__logo {
    margin-right: auto;
  }
  header {
    display: flex;
    justify-content: start;
    padding: 1rem 2rem;
    align-items: center;
  }
  .nav__theme {
    position: static;
    background-color: var(--base-color);
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .header__nav {
    margin: 0;
    margin-right: clamp(1rem, -24.5rem + 53.125vw, 18rem);
  }
  .header__nav--list {
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
  }

  .header__nav--item a::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -3px;
    width: 0;
    color: currentColor;
    height: 2px;
    background-color: currentColor;
    transition: Width 0.3s ease;
  }
  .header__nav--item a:hover {
    color: var(--btn-link);
  }
  .header__nav--item a:hover::after {
    width: 100%;
    color: var(--btn-link);
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .hero {
    display: grid;
    grid-template-areas: "text image";
    min-height: 90dvh;
    grid-template-columns: 1fr 1fr;
  }

  .hero__image--container {
    grid-area: image;
    height: 100%;
    padding: 0;
  }

  .hero__image {
    width: 100%;
    height: 100%;
  }

  .hero__text {
    grid-area: text;
    width: 100%;
  }
}
